// Media 1020px

@media screen and (max-width: 1020px) {}

// Media 976px

@media screen and (max-width: 976px) {
  .nav {
    &__list {
      gap: 30px;
    }

    &__buttons {
      gap: 20px;
    }
  }
}

// Media 768px

@media screen and (max-width: 768px) {
  body {
    background: var(--border-color);
  }

  .nav {
    display: none;
  }

  .header__mobile {
    display: block;
  }
}

// Media 480px

@media screen and (max-width: 480px) {
  .header {
    &__item {
      padding: 26px 10px;
    }

    &__link svg {
      width: 20px;
    }

    &__item--mark {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      padding: 26px;

      &::before,
      &::after {
        top: 46%;
      }
    }

    &__item--mark svg {
      display: block;
      width: 25px;
    }
  }
}