@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-cerapro-regular.otf") format("otf")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-cerapro-medium.otf") format("otf")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-cerapro-light.otf") format("otf")
}

@font-face {
  font-family: "Cerapro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-cerapro-bold.otf") format("otf")
}